body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

.container-fluid {
  padding: 0;
}
.nav-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

a{
    color: white;
    padding: 10px;
}

.headimage {
  background-image: url("./Images/theater-image-background.png");
  width: 100vw;
  height: calc(100vw * (9 / 16));
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.main-text {
    position: relative;
    font-size: 5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.cardlineup {
    display: grid;
    justify-content: center;
  }

  .read-more{
    color: white;
    margin-top: 50%;
  }

  footer{
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: small;

  }

    h6{
        margin-top: 10%;
    }
    ul{
        list-style: none;"
        padding: 2em;
    }

    li{
        margin: 1em;
        padding: 1em;
    }
  .themapfoot{
    position:relative;
    padding: 1em;
    margin-top: 10%;
    margin-left:20%;
    height: 15em;
    width: 17em;
  }

